.flashMessage {
  background-color: beige;
}
.flashMessageForm {
  font-size: clamp(20px, 4vw, 40px);
  display: flex;
  justify-content: center;
  align-content: flex-end;
  height: 200px;
}

.messageAndButtons {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
}

.emoticonMessage {
  width: 150px;
  height: 75px;
  position: relative;
  background: #6495ed;
  border-radius: 10px;
  margin-bottom: 20px;
}

.emoticonMessage:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 85%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #6495ed;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.emoticonMessage > p {
  line-height: 75px;
  color: white;
  margin: auto;
  text-align: center;
}

.messageAndButtons > .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
  height: 50px;
}

.happyButton {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  height: 32px;
  color: white;
  background-color: green;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 4px;
}

.happyButton:hover {
  background-color: rgb(0, 178, 0);
  transition: 0.5s;
}

.happyButton:active {
  background-color: green;
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.sadButton {
  padding: 5px;
  font-size: 16px;
  height: 32px;
  color: white;
  background-color: rgb(189, 0, 0);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 4px;
}

.sadButton:hover {
  background-color: darkred;
  transition: 0.5s;
}

.sadButton:active {
  background-color: rgb(189, 0, 0);
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.emoticon {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  font-size: 56px;
}

.emoticonHead,
.emoticonBody {
  text-align: center;
}

@media (max-width: 600px) {
  .emoticon {
    font-size: 40px;
  }
}
