* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: 500;
}

section {
  border-bottom: 1px solid black;
  width: 100vw;
  padding: 10px;
  margin: auto;
}

.error {
  margin-bottom: 15px;
  color: red;
  text-align: center;
  font-size: 18px;
  width: 100%;
}

.success {
  margin-bottom: 15px;
  color: green;
  text-align: center;
  font-size: 18px;
  width: 100%;
}
